  {% extends "base.html" %}

  {% block content %}
    <h2>New post</h2>

      <form method="post">
      <div class="error">{{err_msg}}</div>
      <div class="row">
        <label for="Subject">Subject</label>
        <input type="text" name="subject" value="{{subject}}">
      </div>
      
      <div class="row">
        <label for="Content">Content</label>
        <textarea name="content">{{content}}</textarea>
      </div> 
      <div class="row">
       <button type="submit" class="btn btn-success">Submit</button>
       <button type="submit" class="btn btn-primary" name="cancel">Cancel</button> 
      </div>
      </form>
  {% endblock %}
