{% extends "base.html" %}

{% block content %}
<div class="row form">
<h2>New post</h2>

<div class="error">
  {{error}}
</div>

<form method="post">
  <div class="row">
    <label for="Subject">Subject</label>
    <input type="text" name="subject" placeholder="subject" class="form-control" value="{{subject}}">
  </div>
  <div class="row">
    <label for="Content">Content</label>
    <textarea name="content" placeholder="content" class="form-control" rows="10">{{content}}</textarea>
  </div><br>
  <div class="row">
    <button type="submit" class="btn btn-info">Submit</button>
  </div>
</form>
</div>

{% endblock %}
