{% extends "base.html" %}

{% block content %}

<!-- <div class="row">
    <div class="col-md-12">
       	<a class="edit-button btn btn-primary pull-right" href="/blog/edit/{{post.key().id()}}">Edit Post</a>
       	<a class="delete-button btn btn-danger pull-right" href="/blog/delete/{{post.key().id()}}">Delete Post</a>
    </div>
</div> -->
<div class="error col-md-12">
	{{error}}
</div>

<div class="row">
	{{post.render() | safe}}
</div>
<div><br></div>

<div class="row">
	{% if numLikes > 0 %}
		<a class="like-button btn btn-primary" href="/blog/like/{{post.key().id()}}">Like Post {{numLikes}}</a>
	{% else %}
		<a class="like-button btn btn-primary" href="/blog/like/{{post.key().id()}}">Like Post</a>
	{%endif%}
	<a class="edit-button btn btn-primary " href="/blog/edit/{{post.key().id()}}">Edit Post</a>
 	<a class="delete-button btn btn-danger " href="/blog/delete/{{post.key().id()}}">Delete Post</a>
</div>
<div><br></div>
<div class="row">
	<form method="post">
		<div class="form-group">
  			<label for="comment">Comment:</label>
  			<textarea class="form-control" rows="5" name="comment"></textarea><br>
  			<input type="submit" class="btn btn-info">
		</div>
	</form>
	
</div>

<div class="row">
	
		{% for comment in comments %}
		<div><br></div>
		<div class="comment-section">
			<div class="col-md-8">
				{{comment.comment}}<br>
				(Comment by {{comment.user_name}})
				<div><br></div>
			</div>
			<div class="col-md-4 ">
				<a href="/blog/deletecomment/{{post.key().id()}}/{{comment.key().id()}}"><span class="glyphicon glyphicon-trash"></span></a>
				<a href="/blog/editcomment/{{post.key().id()}}/{{comment.key().id()}}"><span class="glyphicon glyphicon-pencil"></span></a>
			</div>
		</div>
		<div><br></div>
		{% endfor %}
	
</div>


{% endblock %}
